html {
    --background-lightest-color: white;
    --background-light-color: #1f1f1f;
    --background-dark-color: #121212;
    --background-darkest-color: black;
    --background-base: #1ed760;
    --background-highlight: #1fdf64;
    --background-press: #169c46;
    --font-color: white;
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
    background-color: var(--background-darkest-color);
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    margin: 0;
    padding: 1.5rem;
    background-color: var(--background-darkest-color);
    flex-direction: column;
    align-items: flex-start;
    width: 14.5rem;
    height: 100%;
}

div#title {
    margin-top: -0.5rem;
}

h2 {
    margin-bottom: 0.4rem;
    margin-top: 2rem;
}

svg#logo-container {
    height: 3rem;
    max-width: 8rem;
    width: 100%;
}

div#description {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--background-light-color), var(--background-dark-color));
}

h1#title {
    text-align: center;
}

ul {    
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 0;
}

li:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-track {
    background: #f1f1f100; 
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
::-webkit-scrollbar-track-corner {
    background: #f1f1f100; 
}

div#selection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#search {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--background-lightest-color);
    width: 100%;
    padding-left: .7rem;
    padding-right: 2rem;
    height: 2.5rem;
    border-radius: 6.5rem;
}

svg#loupe {
    display: flex;
    margin-right: .4rem;
}

input[type=text] {
    width: 100%;
    border-style: none;
}
input:focus {
    outline: none;
}

button {
    display: flex;
    padding: 1em;
    background-color: var(--background-base);
    font-weight: bolder;
    border-radius: 100%;
    margin-left: 1.5rem;
    justify-content: center;
    transition: 0.3s;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: var(--background-highlight);
    transform: scale(1.1);
}

select {
    background-color: var(--background-darkest-color);
    color: var(--font-color);
    padding: .1rem;
    border-radius: 10px;
}
select:hover {
    cursor: pointer;
}
select:focus {
    outline: none;
}